body {
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#speed {
  color: turquoise;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

#shields {
  color: turquoise;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
